
button {
  color: aquamarine;
  background-color: rgb(42, 165, 63);
  border-radius: 15px;
  width : 80%;
}

.container {
  width : 100vw;
  /* border : 1px solid blue; */
}

.input {
  width : 85%;
  margin : 0.5rem;
  border-radius: 15px;
}

div.card {
  margin: 80px auto;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  
}

form p {
  margin: 0;
  width : 85%;
  margin : 0.5rem;
  border-radius: 15px;
  text-align: center;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}

